<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>question</title>
</head>
<body>

    这个问题的标题是：$!{question.title}<br>

    <form action="/followQuestion" method="post">
        <input type="hidden" name = "questionId" value="$!{question.id}">
        <input type = "submit" value="关注问题">
    </form>

    <form action="/unFollowQuestion" method="post">
        <input type="hidden" name = "questionId" value="$!{question.id}">
        <input type = "submit" value="取消关注">
    </form>

    <!--$!{question.userId}<br>-->
    这个问题的内容是：$!{question.content}<br>
    该问题被创建于：$!{question.createdDate}<br>
    被评论：$!{question.commentCount} 次<br>
    <h2>评论区</h2>

    #foreach($vo in $vos)
        评论的内容：<strong>$!{vo.comment.content}</strong><br>
        这条评论的作者是：$!{vo.user.name} <br>
        这条评论被喜欢了 $!{vo.likeCount} 次<br>
        <a  href="/like?commentId=$!{vo.comment.Id}">like</a><br>
        <a  href="/dislike?commentId=$!{vo.comment.Id}">dislike</a><br>
    <br>
    #end

    <hr/>

    <form action="/addComment" method="post">
        提交评论：
        <input type="text" name="content" value="">
        <input type="hidden" name="questionId" value="$!{question.id}">
        <input type="submit" name="submit" value="submit">
    </form>
    <form action="/" method="get">
        <input type="submit" value="返回首页">
    </form>
</body>
</html>