<!DOCTYPE html>
<html lang="en">
#macro (comment_question, $vo)

ta评论了问题<br>

 <br>
<hr/>
#end

#macro (follow_question, $vo)

ta关注了问题<br>

<a href="/question/$!{vo.questionId}">$!{vo.questionTitle}</a> <br>
<hr/>
#end

<head>
    <meta charset="UTF-8">
    <title>userInfo</title>
</head>
<body>
<strong>详细信息</strong>
昵称：$!{userName}<br>
<img src="$!{headUrl}"> <br>
关注状态：$!{status}<br>
<form action="/followUser" method="post">
    <input type="hidden" name="followeeId" value="$!{userId}">
    <input type="submit" value="关注它">
</form>

<form action="/unFollowUser" method="post">
    <input type="hidden" name="followeeId" value="$!{userId}">
    <input type="submit" value="取消关注">
</form>
#foreach($feed in $feeds)
    #if($feed.type == 1)
        #comment_question($feed)
            #elseif($feed.type==4)
        #follow_question($feed)
    #end
#end
</body>
</html>